@{
    ViewData["Title"] = "Numbers to Text Converter";
}

<div class="text-center">
    <h1 class="display-4">Numbers to Text Converter</h1>
    <p>Enter a number to convert it to text.</p>
    <form method="post" asp-action="Convert">
        <div class="form-group">
            <input type="number" step="0.01" class="form-control" name="inputNumber" value="@ViewBag.InputNumber" placeholder="Enter your number" required />
        </div>
        <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Convert</button>
    </form>
    @if (ViewBag.Result != null)
    {
        <div class="alert alert-success mt-3">
            In Text is :@ViewBag.Result
        </div>
    }
</div>
